/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #6d3573;
  --ifm-color-primary-dark: #623068;
  --ifm-color-primary-darker: #5d2d62;
  --ifm-color-primary-darkest: #4c2551;
  --ifm-color-primary-light: #783a7f;
  --ifm-color-primary-lighter: #7d3d84;
  --ifm-color-primary-lightest: #8e4596;

  --text-secondary: #5b5863;

  --code-background-color: #fbfbfb;
  --code-foreground-color: rgb(72, 118, 214);
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
html[data-theme="dark"] {
  --ifm-background-color: #010e19;
  --ifm-background-surface-color: #011221;

  --ifm-color-primary: #dbb9df;
  --ifm-color-primary-dark: #cd9dd2;
  --ifm-color-primary-darker: #c58fcc;
  --ifm-color-primary-darkest: #b065b9;
  --ifm-color-primary-light: #e9d5ec;
  --ifm-color-primary-lighter: #f1e3f2;
  --ifm-color-primary-lightest: #ffffff;

  --text-secondary: #c0b8c7;

  --ifm-heading-color: var(--ifm-color-primary-light);

  --code-background-color: #011627;
  --code-foreground-color: rgb(173, 219, 103);
}

.api p {
  color: var(--text-secondary);
}

code {
  background-color: var(--code-background-color);
  color: var(--code-foreground-color);
}

@keyframes blink {
  50% {
    color: #011627;
    background: rgb(214, 222, 235);
  }
}
.blink {
  animation: blink 1s step-start 0s infinite;
}
